<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="employeeDAO" class="com.craft.employee.dao.impl.EmployeeDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="employeeNamedDAO" class="com.craft.employee.dao.impl.EmployeeNamedDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
<property name="dataSource" ref="dataSource"></property>
</bean>

<bean id="edao" class="com.craft.employee.dao.EmpDao">
<property name="jdbcTemplate" ref="jdbcTemplate"></property>
</bean>
</beans>